<!-- Page sections end. -->
  <a name="footer-v2"></a>
    
    <!-- ========== Footer Widgets ========== -->
    <div class="widget-foot-wrap bg-smoke">
        <div class="container">
            <div class="row">
    
                <!-- /Footer Col 1 -->
                <!-- Footer Col 2 -->
                <div class="col-md-4">
                    <div class="widget-foot">
                        <h4 class="title underline">Churches</h4>
                        <div class="body">
                            <ul class="widget-nav widget-nav-archive">
                            <li><a href="/">Community of Grace East Queens</a></li>
                            <li><a href="www.gracenyc.org/">Community of Grace Upper West Side</a></li>
                           </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="widget-foot">
                        <h4 class="title underline">Contact Us</h4>
                        <div class="body">
                            <ul class="contact-list-icon">
                                <li><i class="fa fa-map-marker"></i>1234 Main St, City, ST</li>
                                <li><i class="fa fa-phone"></i>+1(123) 456 7890</li>
                                <li><i class="fa fa-envelope"></i>help@yourdomain.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Footer Col 3 -->
                <!-- /Footer Col 2 -->
                <!-- Footer Col 3 -->
                <div class="col-md-2">
                    <div class="widget-foot">
                        <h4 class="title underline">Connect With Us</h4>
                        <div class="body">
                            <a href="#" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr"></i></a>
                            <a href="#" class="btn btn-social-icon btn-google"><i class="fa fa-google"></i></a><br /><div style="height:3px"></div>
                            <a href="#" class="btn btn-social-icon btn-google"><i class="fa fa-google"></i></a>
                            <a href="#" class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="btn btn-social-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /Footer Col 3 -->
                <!-- Footer Col 4 -->
                 <div class="col-md-3">
                    <div class="widget-foot">
                        <h4 class="title underline">PARTNERS</h4>
                        <div class="body">
                           <ul class="widget-nav widget-nav-archive">
                            <li><h5><a href="http://www.acts29.com/" target = "_blank">Acts 29</a></h5></li>
                            <li><h5><a href="https://www.redeemercitytocity.com/"  target = "_blank">Redeemer City to City</a></h5></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== /Footer Widgets ========== -->    
    
    <!-- ========== Footer Nav and Copyright ========== -->
    <div id="footers">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="nav-foot">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="copyright">Copyright 2015 Lyrathemes.com<br />All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== /Footer Nav and Copyright ========== -->    