<%= render 'shared/navbar' %>
<div class="section bg-white">
      <div class="container">
          
  <div id="pages">
<%= render 'form' %>
</div>
</div>
</div>

<%= render 'shared/footer' %>

 <%= render 'shared/javascript' %>