<!DOCTYPE html>
<html>
  <head>
    <title>GraceFinal</title>

        <!-- Required for Animations -->
    <style> [data-sr] { visibility: hidden; } </style>
    
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <!-- Page title -->
    <title>Grace</title>
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,800,800italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    <!-- CSS Required -->
    <link type="text/css" rel="stylesheet" href="assets/grace_final/bootstrap.min.css" />
    
    <!-- CSS Plugins -->
    <link type="text/css" rel="stylesheet" href="assets/grace_final/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/grace_final/animate.css" />
    <link type="text/css" rel="stylesheet" href="assets/grace_final/hover.css" />
    <link type="text/css" rel="stylesheet" href="assets/grace_final/magnific-popup.css">    
    <link type="text/css" rel="stylesheet" href="assets/grace_final/jquery.bxslider.css" />
    <link type="text/css" rel="stylesheet" href="assets/grace_final/bootstrap-social.css" />
    
    <!-- CSS Theme -->
    <link type="text/css" rel="stylesheet" href="assets/grace_final/style.css" />
    
    <!-- Switcher - DEMO ONLY -->
    <link rel="stylesheet" id="switcher-css" type="text/css" href="assets/grace_final/switcher.css" media="all">
    
    <!-- Demo Examples -->
        <link rel="alternate stylesheet" type="text/css" href="assets/grace_final/theme-blue.css" title="blue" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="assets/grace_final/theme-green.css" title="green" media="all" />
        <link rel="alternate stylesheet" type="text/css" href="assets/grace_final/theme-orange.css" title="orange" media="all" />
  <!-- END Demo Examples -->


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>


 <body>

    <%= yield %>
  </body>
</html>
