  <%= render 'shared/navbar' %>
   <!-- Page sections start. -->
        
        <!-- ========== Page Header ========== -->
                <div class="jumbotron image-banner full-screen" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/grace_final/table.png') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
            <div class="container">
                <div class="inner">
                    <h1 class="text-center">What can you contribute to the table?</h1>
                    <h3 class="text-center">There are many ways to help our church grow by your contribution.</h3>
                </div><div class="helper"></div>
            </div>
        </div>
        <!-- ========== /Page Header ========== -->
        

        <!-- ========== Page Content ========== -->
    <div class="section bg-white">
      <div class="container">
          
  <div id="pages">
    
        <!-- ========== Page Header ========== -->
 <!-- Project Filters -->
        <ul class="nav magnet-iso-filter">
          <li><a href="#" data-filter=".filter-1" class="active">Give</a></li>
          <li><a href="#" data-filter=".filter-2">Pray</a></li>
          <li><a href="#" data-filter=".filter-3">Serve</a></li>
        </ul>
                <!-- /Project Filters -->
                
        <div class="magnet-iso-content type-full">
          <div class="item filter-2">
            <div class="inner">
              <div class="image"><img src="assets/grace_final/prayer.jpg" alt="" class="img-responsive" /></div>
              <div class="details">
                <div class="item-detail">
                  <h3 class="widget-title">GRAPHIC DESIGN</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                  <ul>
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>Photography</li>
                    <li>PSD Included</li>
                  </ul>
                  <div class="website"><a href="http://www.sampledomain.com" target="_blank">www.sampledomain.com</a></div>
                </div>
                <div class="item-desc">
                  <h5 class="widget-title">PROJECT DESCRIPTION</h5>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="item filter-1">
            <div class="inner">
              <div class="image"><img src="assets/grace_final/worship_team.jpg" alt="" class="img-responsive" /></div>
              <div class="details">
                <div class="item-detail">
                  <h3 class="widget-title">Ecommerce</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                  <ul>
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>Photography</li>
                    <li>PSD Included</li>
                  </ul>
                  <div class="website"><a href="http://www.sampledomain.com" target="_blank">www.sampledomain.com</a></div>
                </div>
                <div class="item-desc">
                  <h5 class="widget-title">PROJECT DESCRIPTION</h5>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="item filter-3">
            <div class="inner">
              <div class="image"><img src="assets/grace_final/worship_team2.jpg" alt="" class="img-responsive" /></div>
              <div class="details">
                <div class="item-detail">
                  <h3 class="widget-title">SEO &amp; MARKETING</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                  <ul>
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>Photography</li>
                    <li>PSD Included</li>
                  </ul>
                  <div class="website"><a href="http://www.sampledomain.com" target="_blank">www.sampledomain.com</a></div>
                </div>
                <div class="item-desc">
                  <h5 class="widget-title">PROJECT DESCRIPTION</h5>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- ========== /Page Content ========== -->
        
    </div>
    <!-- Page sections end. -->

     <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->   
<%= render 'shared/javascript' %>