<%= render 'shared/navbar' %>
  
    <!-- Page sections start. -->
        
      <!-- Page sections start. -->
        
        <!-- ========== Page Header ========== -->
                <div class="jumbotron image-banner full-screen" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/grace_final/welcome_table.jpg') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
            <div class="container">
                <div class="inner">
                    <h1 class="text-center">Learn how to Contribute to Grace</h1>
               
                </div><div class="helper"></div>
            </div>
        </div>
        <!-- ========== /Page Header ========== -->

         <!-- ========== Page Content ========== -->
        <div class="bg-white">
            <div class="container">
                <div class="featurette">
                    <h2 class="featurette-heading">Give</h2>
                    <i><p class="featurette-lead">Then say to him, ‘The Lord, the God of the Hebrews, <br>has sent me to say to you: Let my people go, <br>so that they may worship me in the wilderness.
                    Exodus 7:16</p></i>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-justify">This statement occurred during the dramatic showdown between Moses and the Egyptian Pharaoh in the book of Exodus. The conflicts embedded in the Bible are rich material for movie scripts and plays, but this admonition from Moses to Pharaoh has important implications for us today as well.</p>
                            <p class="text-justify">“Let my people go, so that they may worship me in the wilderness.” When we read this passage the logical question would be, “Why did they have to worship God in the wilderness? Why couldn’t they just worship in Egypt? Isn’t God everywhere?”</p>
                            <p class="text-justify">God is omnipresent (at all places at all times) yet he calls us out of our normal (Egyptian) routines to come in to a place where the people of God gather in unison.  This gathering in the New Testament is marked by teaching the word of Christ, admonishing each other with wisdom, and singing psalms, hymns, and spiritual songs with thankfulness in our hearts to God. (Colossians 3:16)</p>
                                   <p><a href="https://www.google.com/maps/place/Anibic/@40.7477679,-73.7593287,17z/data=!3m1!4b1!4m5!3m4!1s0x89c261f18686757d:0x85197cef06cfa2d9!8m2!3d40.7477639!4d-73.75714" target= "_blank" class="btn btn-inverse btn-block  ">Directions to Church</a>
                        </div>
                        <div class="col-md-6">
                            <img data-sr='enter top move 100px' class="featurette-image img-responsive center-block" src="assets/grace_final/greeting.jpg" alt="Generic placeholder image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-grey-light">
            <div class="container">
                <div class="row featurette npb">
                    <div class="col-md-5 col-md-push-7">
                        <h2 class="featurette-heading text-right">Pray</h2>
                            <p class="text-justify text-right">This expression happens on Sunday mornings at the Community of Grace. We gather for life on life during the week at Grace Communities and we disciple, nurture and hold each other accountable in DNA’s. Sundays hold a unique place for proclamation of the gospel and impartation from the larger community in ways that nothing else can. The God who is everywhere at all time calls us together Sunday morning to express who HE is in a powerful, focused way.</p>
                            <p class="text-justify text-right">Do you see Sunday’s in this way? Don’t miss the moment that can’t be captured with an MP3 or YouTube clip. There is nothing like the impartation that believers get from the pulpit and receive from each other as we are formed by prayer and praise; confession and proclamation.</p>
                       <p><a href="/volunteer" class="btn btn-primary-magnet ">Volunteer</a>&nbsp;&nbsp;<a href="https://www.google.com/maps/place/Anibic/@40.7477679,-73.7593287,17z/data=!3m1!4b1!4m5!3m4!1s0x89c261f18686757d:0x85197cef06cfa2d9!8m2!3d40.7477639!4d-73.75714" target= "_blank" class="btn btn-inverse ">Directions to Church</a>
                    </div>
                    <div class="col-md-7 col-md-pull-5">
                        <br />
                        <img data-sr='enter top move 100px' class="featurette-image img-responsive center-block" src="assets/grace_final/justin_message.jpg" alt="Generic placeholder image">
                    </div>
                </div>
            </div>
        </div>
     

   <!-- ========== Page Content ========== -->
        <div class="bg-shadow">
            <div class="container">
                <div class="featurette">
                    <h2 class="featurette-heading text-center">Serve</h2>
                    <i><p class="featurette-lead text-center"></p></i>
                    <div class="row">
                        <div class="col-md-12">
                           <p class="text-justify text-center">Here at Grace East Queens, we are committed to providing a safe and nurturing environment for our kids to know and experience Christ.</p>
                        <i><h2 class="featurette-heading text-center">What To Expect</h2></i>

                        <p class=" text-center">Children’s ministry at Grace East Queens is available for the following age group during Sunday mornings: <br>

                        -Ages 3-9

                        </p>


                        <p class=" text-center"> On Sunday mornings, our children join us for the first half of service <br> then 
                        attend  <i>KIDS CHURCH</i> during preaching and communion.
                        </p>

                        </div>
                         <div class="row">
                        <div class="col-md-6">
                            <img data-sr='enter top move 100px' class="featurette-image img-responsive center-block" src="assets/grace_final/sibi.jpg" alt="Generic placeholder image">
                        </div>
                        <div class="col-md-6">
                            <img data-sr='enter top move 100px' class="featurette-image img-responsive center-block" src="assets/grace_final/kids.jpg" alt="Generic placeholder image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

           <div class="bg-white">
            <div class="container">
                <div class="row featurette npb">
                    <div class="col-md-4">
                        <div class="hidden-xs hidden-sm" style="height:80px"></div>
                        <h2 class="featurette-heading">Join us for Prayer</h2>
                        <p class="featurette-lead">10:00am<br />Sunday Morning</p>
                    </div>
                    <div class="col-md-4">
                        <img data-sr='enter right move 100px' class="featurette-image img-responsive center-block" src="assets/grace_final/prayer.jpg" alt="Generic placeholder image">
                    </div>
                    <div class="col-md-4">
                        <img data-sr='enter right move 100px' class="featurette-image img-responsive center-block" src="assets/grace_final/prayer2.jpg" alt="Generic placeholder image">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white">
            <div class="container">
            </br>
            </div>
            </div>
        <!-- ========== /Page Content ========== -->


                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Page sections end. -->
    

         <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->    

<%= render 'shared/footer' %>

 <%= render 'shared/javascript' %>