  <%= render 'shared/navbar' %>

  <!-- Page sections start. -->
  <div id="pages">
    
   <!-- ========== Page Header ========== -->
                <div class="jumbotron image-banner full-screen" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/grace_final/grace_joy.jpg') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
            <div class="container">
                <div class="inner">
                    <h1 class="text-center">Each one of us has a story. What's your story?</h1>
                    <h3 class="text-center">Check many stories below</h3>
                    <div class="text-center">
                                <a class="gallery-link mfp-iframe btn btn-inverse" href="https://youtu.be/lXZso40lkls"><i class="fa fa-play-circle" aria-hidden="true"></i>
                                Play Video</a>
                            </div>
                </div><div class="helper"></div>
            </div>
        </div>
        <!-- ========== /Page Header ========== -->
        
        <!-- ========== Page Content ========== -->
    <div class="section bg-white">
      <div class="container">
        
                
                <!-- /Ally -->
        <div class="post-2-col">
          <div class="post-grid even">
            <h3 class="title"><a href="blog-post.html">Allison Story</a></h3>
            <div class="image"><div class="iframe-video"><<iframe src="https://player.vimeo.com/video/207236600?color=ff9933&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>></iframe></div></div>
          
          
          </div>

              <!-- DEe -->
          <div class="post-grid odd">
            <h3 class="title"><a href="blog-post.html">Dheeraj Story</a></h3>
            <div class="image"><div class="iframe-video"><iframe src="https://player.vimeo.com/video/207236620?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>
         
          
          </div>

            <!-- Sunil -->
          <div class="post-grid even">
            <h3 class="title"><a href="blog-post.html">Sunil Story</a></h3>
            <div class="image"><div class="iframe-video"><iframe src="https://player.vimeo.com/video/213770353?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></iframe></div></div>
           
          
          </div>

            <!-- Joshua -->
           <div class="post-grid even">
            <h3 class="title"><a href="blog-post.html">Joshua Story</a></h3>
            <div class="image"><div class="iframe-video"><iframe src="https://player.vimeo.com/video/213770528?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>
       
           
          </div>
          
          <!-- Justin-->
          <div class="post-grid odd">
            <h3 class="title"><a href="blog-post.html">Justin Story</a></h3>
            <div class="image"><div class="iframe-video"><iframe src="https://player.vimeo.com/video/213770559?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>
            
          </div>

          </div>
          <div class="clearfix"></div>
        </div>
                
                
      </div>
            
    </div>
        <!-- ========== /Page Content ========== -->
        
    </div>
    <!-- Page sections end. -->

<%= render 'shared/footer' %>
 <%= render 'shared/javascript' %>