 <%= render 'shared/navbar' %>
    
    <!-- Page sections start. -->
         
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- ========== /Navbar ========== -->        
    
    <!-- Page sections start. -->
        
        <!-- ========== Page Header ========== -->
                <div class="jumbotron image-banner full-screen" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/grace_final/grace_group.jpg') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
            <div class="container">
                <div class="inner">
                    <h1 class="text-center">Love the City. Love East Queens</h1>
                    <h3 class="text-center">Restoring the Negihborhoods of East Queens by the message of the Gospel. <br>Click Below to learn more</h3>
                    <div class="text-center">
                                <a class="gallery-link mfp-iframe btn btn-inverse" href="https://vimeo.com/207233999" ><i class="fa fa-play-circle">
                                Play Video</a></i>
                            </div>
                </div><div class="helper"></div>
            </div>
        </div>
        <!-- ========== /Page Header ========== -->
        



        
        <!-- ========== 4 Columns/Features ========== -->
        <div class="section bg-white">
            <div class="container">
                <div class="row">
                    <!-- Feature 1 -->
                    <div class="col-sm-6 col-md-4">
                        <div class="content-icon" data-sr='wait 0.1s'>
                            <div class="icon">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </div>
                            <h4 class="title">GRACE STORIES</h4>
                            <div class="body">
                                <p>Each journey has its own story. Hear the stories of individuals on how God has moved in their lives.</p>
                            </div>
                            <div class="foot">
                                <a href="/grace_stories" class="btn btn-inverse">Grace Stories</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Feature 1 -->
                    <!-- Feature 2 -->
                    <div class="col-sm-6 col-md-4">
                        <div class="content-icon" data-sr='wait 0.2s'>
                            <div class="icon">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <h4 class="title">NEIGHBORHOOD</h4>
                            <div class="body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus tempor odio, quis euismod magna interdum vel. </p>
                            </div>
                            <div class="foot">
                                <a href="/what_we_do" class="btn btn-inverse">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Feature 2 -->
                    <!-- Feature 3 -->
                    <div class="col-sm-6 col-md-4">
                        <div class="content-icon" data-sr='wait 0.3s'>
                            <div class="icon">
                                <i class="fa fa-building" aria-hidden="true"></i>
                            </div>
                            <h4 class="title">COMMUNITY</h4>
                            <div class="body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus tempor odio, quis euismod magna interdum vel. </p>
                            </div>
                            <div class="foot">
                                <a href="know_us" class="btn btn-inverse">Get to know us</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Feature 3 --> 
                </div>
            </div>
        </div>
        <!-- ========== /4 Columns/Features ========== -->

        <!-- ========== Tagline Unit ========== -->
        <div class="section bg-dark shadow">
            <div class="container">
                <h3 class="text-center" data-sr='scale up 30%'><span class="light">Grace exists to create safe places in New York City<br> for people to explore and be challenged in faith toward Jesus. </span></h3>
            </div>
        </div>
        <!-- ========== /Tagline Unit ========== -->
        

   <!-- ========== Featured Section ========== -->
        <div class="section bg-white">
            <div class="container">
                <h2 class="block-title" data-sr='move 50px enter top over 1s no reset'>Join us Sunday Morning</h2>
                <p>&nbsp;</p>
                <div class="row">
                    <div class="col-md-5">
                        <div data-sr='move 50px enter left over 1s no reset'>
                            <div class="center-on-mobile">
                                <h3 class="heading">What's Sunday Like?</h3>
                                <p class="text-justify">Our Sunday morning gathering hold a unique place for proclamation of the gospel and impartation from the larger community in ways that nothing else can. The God who is everywhere at all time calls us together Sunday morning to express who HE is in a powerful, focused way.Much you see on Sunday doesn't happen without the help of many of our devoted volunteers </p>
                                
                                <p><a href="/sunday" class="btn btn-primary-magnet ">Learn More</a>&nbsp;&nbsp;<a href="https://www.google.com/maps/place/Anibic/@40.7477679,-73.7593287,17z/data=!3m1!4b1!4m5!3m4!1s0x89c261f18686757d:0x85197cef06cfa2d9!8m2!3d40.7477639!4d-73.75714" target= "_blank" class="btn btn-inverse ">Directions to Church</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <p><img data-sr='move 50px enter right over 1s no reset' src="assets/grace_final/grace_service.png" alt="" class="img-responsive" /></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== /Featured Section ========== -->
        
        
    <!-- Page sections end. -->
    
    <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->    
    <%= render 'shared/footer' %>

<%= render 'shared/javascript' %>
    
