<%= render 'shared/navbar' %>
  
    <!-- Page sections start. -->
        
      <!-- Page sections start. -->
        
        <!-- ========== Page Header ========== -->
                <div class="jumbotron image-banner full-screen" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/grace_final/grace_joy.jpg') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
            <div class="container">
                <div class="inner">
                    <h1 class="text-center">Get to know about Grace East Queens </h1>
                    <h3 class="text-center">Join a Community Group or DNA</h3>
                    <div class="text-center">
                                <a class="gallery-link mfp-iframe btn btn-inverse" href="https://youtu.be/lXZso40lkls"><i class="fa fa-play-circle" aria-hidden="true"></i>
                                Play Video</a>
                            </div>
                </div><div class="helper"></div>
            </div>
        </div>
        <!-- ========== /Page Header ========== -->
          <!-- ========== Page Content ========== -->
    <div class="bg-white">
      <div class="container">
                <div class="row featurette">
                    <div class="col-md-12">
                        <h2 class="featurette-heading text-center">Community Groups</h2>
                        <p class="featurette-lead text-center">Community is central to who we are at Grace. We believe that community isn't just a part of life, it's an essential component to living out our lives in light of the Gospel.</p>
                       
                    </div>
                    <div class="col-md-12">
                        <img data-sr='spin 180deg over 1.2s' class="featurette-image img-responsive center-block" src="assets/grace_final/grace_group.jpg" alt="Generic placeholder image">
                    </div>
                </div>
      </div>
    </div>
    <div class="bg-grey-light">
      <div class="container">
                <div class="row featurette">
                    <div class="col-md-7 col-md-push-5">
            <div class="hidden-xs hidden-sm" style="height:110px"></div>
                         <p class="featurette-lead text-center"> We want to challenge the status quo of our city who thinks, decisions and responsibilities in life must be done on our own. </p>
                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <img data-sr='roll 15deg over 1.2s' class="featurette-image img-responsive center-block" src="assets/grace_final/queens_group2.png" alt="Generic placeholder image">
                    </div>
                </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
                <div class="row featurette">
                    <div class="col-md-7">
            <div class="hidden-xs hidden-sm" style="height:30px"></div>
                        <p class="featurette-lead text-center">We want to invite those who feel neglected by society, those who feel lonely and those who are juggling various responsibility on their own can, to find a community by forming relationships who share together in friendship, hospitality, and acts of services to our city. </p>
                    </div>
                    <div class="col-md-5">
                        <img data-sr='scale up 20%' class="featurette-image img-responsive center-block" src="assets/grace_final/grace_family.jpg" alt="Generic placeholder image">
                    </div>
                </div>
      </div>
    </div>
     <div class="bg-grey-light">
      <div class="container">
                <div class="row featurette">
                    <div class="col-md-7 col-md-push-5">
            <div class="hidden-xs hidden-sm" style="height:100px"></div>
                       <p class="featurette-lead text-center">Typically, we get together once a month and you'll find us eating, praying, serving, encouraging, and just generally doing life together. <br />If you're looking for a community to get involved with please email drajmathew1989@gmail.com </p>
                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <img data-sr='enter left move 100px' class="featurette-image img-responsive center-block" src="assets/grace_final/li_group1.png" alt="Generic placeholder image">
                    </div>
                </div>
      </div>
    </div>
        <!-- ========== /Page Content ========== -->

         <!-- ========== Tagline Unit ========== -->
        <div class="section bg-dark shadow">
            <div class="container">
                <h3 class="text-center" data-sr='scale up 30%'><span class="light">  We believe that God has divinely placed us here to be a new voice in East Queens for His redemptive story.</span></h3>
            </div>
        </div>
        <!-- ========== /Tagline Unit ========== -->

         <div class="bg-white">
      <div class="container">
                <div class="row featurette">
                    <div class="col-md-12">
                        <h2 class="featurette-heading text-center">DNA</h2>
                        <p class="featurette-lead text-center">DNA group refers to a group that usually consists of 3-4 people, men with men, women with women – who meet together weekly. They seek to be vulnerable and to bring gospel truths to bear on each other’s lives to move from unbelief to belief, becoming more like Jesus.</p>
                       
                    </div>
                    <div class="col-md-12">
                        <img data-sr='spin 180deg over 1.2s' class="featurette-image img-responsive center-block" src="assets/grace_final/worship_team.jpg" alt="Generic placeholder image">
                    </div>
                </div>
      </div>
    </div>
    <div class="bg-grey-light">
      <div class="container">
                <div class="row featurette">
                    <div class="col-md-7 col-md-push-5">
            <div class="hidden-xs hidden-sm" style="height:110px"></div>
                         <p class="featurette-lead text-center"> DNA groups learn together, grow together, and live out God-given identities in community. If you would like to join a group please email  benthariath@gmail.com  or blazinb112@gmail.com </p>
                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <img data-sr='roll 15deg over 1.2s' class="featurette-image img-responsive center-block" src="assets/grace_final/female_grace.jpg" alt="Generic placeholder image">
                    </div>
                </div>
      </div>
        
        
    <!-- Page sections end. -->

     <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->    
    <%= render 'shared/footer' %>
<%= render 'shared/javascript' %>