<%= render 'shared/navbar' %>
  
    <!-- Page sections start. -->
        
      <!-- Page sections start. -->
        
         <!-- ========== Page Header ========== -->
                <div class="jumbotron image-banner full-screen" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/grace_final/grace_joy.jpg') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
            <div class="container">
                <div class="center-block">
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                    <h1 class="text-center">Community</h1>
                    <h3 class="text-center"></h3>
                    <div class="text-center">
                              
                            </div>
                </div><div class="helper"></div>
            </div>
        </div>
        <!-- ========== /Page Header ========== -->

            <!-- ========== Latest News ========== -->
        <div class="section bg-white">
            <div class="container">
                
                        <!-- ========== Tagline Unit ========== -->
        
                <h2 class="text-center" data-sr='scale up 30%'><span class="light">Grace exists to create safe places in East Queens/Long Island<br> for people to explore and be challenged in faith toward Jesus. </span></h2>
            
                <!-- ========== /Tagline Unit ========== -->

                </br>
                   </br>
                      


           <div class="col-sm-4">
                        <div class="post-grid" data-sr='scale up 30%'>
                            <div class="image">
                                <img src="assets/grace_final/grace1.jpg" alt="" class="img-responsive" />
                                <div class="caption">
                                    <div class="caption-inner">
                                        <a href="/community_groups" class="icon-link white"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="helper"></div>
                                </div>
                            </div>
                            <h4 class="title"><a href="/community_groups">Community Groups</a></h4>
                            <div class="body"> Community is central to who we are at Grace. We believe that community isn't just a part of life, it's an essential component to living out our lives in light of the Gospel.We want to challenge the status quo of our city who thinks, decisions and responsibilities must be done on our own.</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="post-grid" data-sr='scale up 30%'>
                            <div class="image">
                                <img src="assets/grace_final/worship_team3.jpg" alt="" class="img-responsive" />
                                <div class="caption">
                                    <div class="caption-inner">
                                         <!-- <a href="images/news-1.jpg" class="icon-link white"><i class="fa fa-facebook"></i></a> -->
                                        <a href="/dna" class="icon-link white"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="helper"></div>
                                </div>
                            </div>
                            <h4 class="title"><a href="/dna">DNA </a></h4>
                            <div class="body">Our Sunday morning gathering hold a unique place for proclamation of the gospel and impartation from the larger community in ways that nothing else can.The God who is everywhere at all time calls us together Sunday morning to express who HE is in a powerful, focused way.</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="post-grid" data-sr='wait 0.2s, scale up 30%'> 
                            <div class="image">
                                <img src="assets/grace_final/grace_joy.jpg" alt="" class="img-responsive" />
                                <div class="caption">
                                    <div class="caption-inner">
                                        <!-- <a href="images/news-2.jpg" class="icon-link white"><i class="fa fa-search"></i></a> -->
                                        <a href="/serve" class="icon-link white "><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="helper"></div>
                                </div>
                            </div>
                            <h4 class="title"><a href="/serve">Serving together</a></h4>
                            <div class="body">Community is central to who we are at Grace. We believe that community isn't just a part of life, it's an essential component to living out our lives in light of the Gospel.We want to challenge the status quo of our city who thinks, decisions and responsibilities must be done on our own.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== /Latest News ========== -->


        <!-- ========== Page Content ========== -->
    <div class="section bg-smoke">
      <div class="container">
        
         <h1 class="text-center">Grace Stories</h1>

          <h2 class="text-center" data-sr='scale up 30%'><span class="light">Each one of us has a story. <br>What's your story? </span></h2>
                
                </br>
                <!-- /Ally -->
        <div class="post-2-col">
          <div class="post-grid even">
            <h3 class="title"><a href="blog-post.html">Allison Story</a></h3>
            <div class="image"><div class="iframe-video"><<iframe src="https://player.vimeo.com/video/207236600?color=ff9933&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>></iframe></div></div>
          
          
          </div>

              <!-- DEe -->
          <div class="post-grid odd">
            <h3 class="title"><a href="blog-post.html">Dheeraj Story</a></h3>
            <div class="image"><div class="iframe-video"><iframe src="https://player.vimeo.com/video/207236620?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>
         
          
          </div>

            <!-- Sunil -->
          <div class="post-grid even">
            <h3 class="title"><a href="blog-post.html">Sunil Story</a></h3>
            <div class="image"><div class="iframe-video"><iframe src="https://player.vimeo.com/video/213770353?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></iframe></div></div>
           
          
          </div>

            <!-- Joshua -->
           <div class="post-grid even">
            <h3 class="title"><a href="blog-post.html">Joshua Story</a></h3>
            <div class="image"><div class="iframe-video"><iframe src="https://player.vimeo.com/video/213770528?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>
       
           
          </div>
          
          <!-- Justin-->
          <div class="post-grid odd">
            <h3 class="title"><a href="blog-post.html">Justin Story</a></h3>
            <div class="image"><div class="iframe-video"><iframe src="https://player.vimeo.com/video/213770559?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>
            
          </div>

          </div>
          <div class="clearfix"></div>
        </div>
                
                
      </div>
            
    </div>
        <!-- ========== /Page Content ========== -->

     <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->    
    <%= render 'shared/footer' %>
<%= render 'shared/javascript' %>