  <%= render 'shared/navbar' %>


        </div>
        <div class="clearfix"></div>
    </div>
    <!-- ========== /Navbar ========== -->    
    <!-- Page sections start. -->
  <div id="pages">
    
        <!-- ========== Page Header ========== -->
        <div class="jumbotron">
      <div class="container">
        <h2 class="block-title">Tabs</h2>
      </div>
    </div>
        <!-- ========== /Page Header ========== -->
        
        <!-- ========== Page Content ========== -->
    <div class="section bg-white">
      <div class="container">
                    
                    
                    <div class="row">
                <div class="col-md-3">
                    
                    <!-- Shortcodes page list -->
                    <div class="list-group">
                        <a href="/resources" class="list-group-item active ">Resources</a>
                        <a href="/sermon_series" class="list-group-item ">Sermon Series</a>
                        <a href="shortcodes-tabs.html" class="list-group-item ">App</a>
                        <a href="shortcodes-typography.html" class="list-group-item">Books</a>
                    </div>
                    <!-- /Shortcodes page list -->
                </div>

                <div class="col-md-9"> 
                
                    <h2>Resources</h2>
                    <hr />
                    <div>

 <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->    

    <%= render 'shared/footer' %>
<%= render 'shared/javascript' %>
    
