 <%= render 'shared/navbar' %>
 !-- Page sections start. -->
    
        <!-- ========== Page Header ========== -->
        <div class="jumbotron">
      <div class="container">
        <h2 class="block-title">Privacy Policy</h2>
      </div>
    </div>
        <!-- ========== /Page Header ========== -->
        
        <!-- ========== Page Content ========== -->
    <div class="section bg-white">
      <div class="container">
        
                <div class="row-fluid privacy">
                    <p class="lead"><em>We believe the Bible to be the only inspired, infallible, authoritative Word of God. 2 Timothy 3:16; 1 Peter 1:23-25; Hebrews 4:12; 1 Thessalonians 2:13</em></p>
                    <p>We believe there is one eternal, almighty and perfect God; Father, Son and Holy Spirit.
                    Deuteronomy 6:4; Mark 12:29; Matthew 28:19; Luke 3:22</p>

                    <h4>Lorem ipsum dolor integer sed arcu</h4>
                    <p>We believe in the deity of our Lord Jesus Christ, in His virgin birth, in His sinless life, in His miracles, in His vicarious and atoning death through His shed blood, in His bodily resurrection, in His ascension to the right hand of the Father, and in His personal return in power and glory.
                    John 1:1,14; Matthew 1:23; Luke 1:31, 35; Hebrews 7:26; 1 Peter 2:22; Acts 2:22, 10:38; 1 Corinthians 15:3; 2 Corinthians 5:21;
                    Matthew 28:6; Luke 24:39; 1 Corinthians 15:4; Acts 1:9,11; 2:33; Philippians 2:9-11; Hebrews 1:3 </p>

                    <blockquote>Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</blockquote>

                    <p>Iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non sit amet, consectetur adipiscing elit. Ut adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat <a href="#">consectetur adipiscing elit</a>.</p>

                    <h4>Lorem ipsum dolor integer sed arcu</h4>
                    <p>Ut aliquet ex risus, id convallis magna facilisis porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam convallis placerat bibendum. Suspendisse ac vestibulum lacus, nec pretium massa. Duis erat mi, eleifend non urna vel, dapibus pretium massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum maximus, lacus ut fermentum tempus, sapien lacus euismod ligula, et varius orci ante non turpis. Nullam lobortis varius ligula. Donec sodales quam tellus, vel ullamcorper felis ullamcorper et. Sed porta a erat in molestie. Duis vestibulum mauris blandit pharetra interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    <p><strong><em>Sed porta a erat in molestie <a href="#">consectetur adipiscing elit</a>.</em></strong></p>

                    <h4>Lorem ipsum dolor integer sed arcu</h4>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur dignissim tortor vitae ipsum tincidunt cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent in risus ex. Sed aliquet nisi sed lacus vehicula porta nec vel libero. Integer id lacus a ex egestas varius sit amet id dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Phasellus ex tellus, pretium et ullamcorper nec, tristique eget lacus. <a href="#">Libero consectetur adipiscing</a> elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
                    <p>Iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non ipsum dolor sit amet. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat <a href="#">consectetur adipiscing elit</a>.</p>

                    <h4><em>Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</em></h4>
                    <ul>
                        <li>Ut adipiscing elit magna sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet. Et harum quidem rerum facilis fusce condimentum eleifend enim a feugiat.</li>
                        <li>Lusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</li>
                        <li>Praesentium voluptatum deleniti atque corrupti quos</li>
                        <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</li>
                        <li>Mentum eleifend enim a feugiat distinctio lor</li>
                    </ul>
                    <p>Iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non ipsum dolor sit amet. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat <a href="#">consectetur adipiscing elit</a>.</p>
                </div><!--/row-fluid-->        
                    
      </div>
    </div>
        <!-- ========== /Page Content ========== -->
        
    <!-- Page sections end. -->

      <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->   
  
    
 <%= render 'shared/javascript' %>