 <%= render 'shared/navbar' %>
 <!-- Page sections start. -->
    
        <!-- ========== Page Header ========== -->
        <div class="jumbotron">
      <div class="container">
        <h2 class="block-title">Statement of Faith</h2>
      </div>
    </div>
        <!-- ========== /Page Header ========== -->
        
        <!-- ========== Page Content ========== -->
    <div class="section bg-white">
      <div class="container">
        
                <div class="row-fluid privacy">
                    <b><p class="lead"><em>We believe the Bible to be the only inspired, infallible, authoritative Word of God.</b><br>2 Timothy 3:16; 1 Peter 1:23-25; Hebrews 4:12; 1 Thessalonians 2:13</em></p>

                     <br>
                     <br>

                    <b><p class="lead"><em>We believe there is one eternal, almighty and perfect God; Father, Son and Holy Spirit.</b><br>2 Timothy 3:16; 1 Peter 1:23-25; Hebrews 4:12; 1 Thessalonians 2:13</em></p>
                    <br>
                    <br>

                    <b><p class="lead"><em>We believe in the deity of our Lord Jesus Christ, in His virgin birth, in His sinless life, in His miracles, in His vicarious and atoning death through His shed blood, in His bodily resurrection, in His ascension to the right hand of the Father, and in His personal return in power and glory.</b><br>John 1:1,14; Matthew 1:23; Luke 1:31, 35; Hebrews 7:26; 1 Peter 2:22; Acts 2:22, 10:38; 1 Corinthians 15:3; 2 Corinthians 5:21; Matthew 28:6; Luke 24:39; 1 Corinthians 15:4; Acts 1:9,11; 2:33; Philippians 2:9-11; Hebrews 1:3</em></p>

                     <br>
                     <br>

                    <b><p class="lead"><em>We believe that for the salvation of lost and sinful man regeneration by the Holy Spirit is absolutely essential.</b><br>John 3:3; John 6:44; Romans 10:13-15; Ephesians 2:8; Titus 3:5-7</em></p>

                     <br>
                     <br>

                    <b><p class="lead"><em>We believe in the present ministry of the Holy Spirit by whose indwelling the Christian is enabled to live a godly life.</b><br>Acts 2:38; 1 Thessalonians 5:23-24; John 16:7-11, 13 </em></p>

                    <br>
                    <br>

                    <b><p class="lead"><em>We believe in the resurrection of both the saved and the lost; they that are saved unto the resurrection of life and they that are lost unto the resurrection of damnation.</b><br>1 Corinthians 15:20–23; John 5:28–29; Acts 24:15</em></p>

                     <br>
                     <br>

                    <b><p class="lead"><em>We believe in the spiritual unity of believers in our Lord Jesus Christ.</b><br>Ephesians 2:19-22; John 17:11, 20-23</em></p>
                          <hr>
                     
                     <br>
                  

                    <b><h4>We also embrace and adopt the Nicene Creed of AD325 and Chalcedon Creed of AD451.</h4></b>
                    <blockquote>We believe in one God, the Father, the Almighty, maker of heaven and earth, of all that is, seen and unseen.<br><br>

                    We believe in one Lord, Jesus Christ, the only Son of God, eternally begotten of the Father, God from God, Light from Light, true God from true God, begotten, not made, of one Being with the Father. Through him all things were made. For us and for our salvation he came down from heaven: by the power of the Holy Spirit he became incarnate from the Virgin Mary, and was made man. For our sake he was crucified under Pontius Pilate; he suffered death and was buried. On the third day he rose again in accordance with the Scriptures; he ascended into heaven and is seated at the right hand of the Father. He will come again in glory to judge the living and the dead, and his kingdom will have no end.<br><br>

                    We believe in the Holy Spirit, the Lord, the giver of life, who proceeds from the Father. With the Father and the Son he is worshiped and glorified. He has spoken through the Prophets. We believe in one holy catholic and apostolic Church. We acknowledge one baptism for the forgiveness of sins. We look for the resurrection of the dead, and the life of the world to come. Amen.</blockquote>

                    <p><i>Note: The word "catholic" with a lower case 'c' does not mean the Roman Catholic Church, but the universal Christian Church as a whole.</i></p>

                    <blockquote>We, then, following the holy Fathers, all with one consent, teach people to confess one and the same Son, our Lord Jesus Christ, the same perfect in Godhead and also perfect in manhood;<br><br>truly God and truly man, of a reasonable [rational] soul and body;<br><br> consubstantial [co-essential] with the Father according to the Godhead, and consubstantial with us according to the Manhood; <br><br>in all things like unto us, without sin; begotten before all ages of the Father according to the Godhead, and in these latter days, for us and for our salvation, born of the Virgin Mary, the Mother of God, according to the Manhood; <br><br>one and the same Christ, Son, Lord, only begotten, to be acknowledged in two natures, inconfusedly, unchangeably, indivisibly, inseparably;<br><br>the distinction of natures being by no means taken away by the union, but rather the property of each nature being preserved, and concurring in one Person and one Subsistence, not parted or divided into two persons, but one and the same Son, and only begotten God, the Word, the Lord Jesus Christ;<br><br> as the prophets from the beginning [have declared] concerning Him, and the Lord Jesus Christ Himself has taught us, and the Creed of the holy Fathers has handed down to us.</blockquote>

                  
      </div>
    </div>
        <!-- ========== /Page Content ========== -->
        
    <!-- Page sections end. -->

      <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->   
    
    <%= render 'shared/footer' %>
  
    
 <%= render 'shared/javascript' %>