<%= render 'shared/navbar' %>
  
    <!-- Page sections start. -->
        
      <!-- Page sections start. -->
        
        <!-- ========== Page Header ========== -->
                <div class="jumbotron image-banner full-screen" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/grace_final/worship_team3.jpg') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
            <div class="container">
                <div class="inner">
                    <h1 class="text-center">What's Sunday Like?</h1>
                    </br>
                    </br>
                    <h3 class="text-center">Sundays hold a unique place for proclamation of the gospel and impartation from the larger community in ways that nothing else can</h3>
                    <div class="text-center">
                                <a class="gallery-link mfp-iframe btn btn-inverse" href="https://youtu.be/lXZso40lkls"><i class="fa fa-play-circle" aria-hidden="true"></i>
                                Play Video</a>
                            </div>
                </div><div class="helper"></div>
            </div>
        </div>
        <!-- ========== /Page Header ========== -->

         <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->    

 <%= render 'shared/javascript' %>