  <%= render 'shared/navbar' %>

      <!-- ========== Page Header ========== -->
                <div class="jumbotron image-banner full-screen" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/grace_final/food.jpg') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
            <div class="container">
                <div class="center-block">
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                    <h1 class="text-center">What We Do</h1>
                    <h3 class="text-center"></h3>
                    <div class="text-center">
                                <a class="gallery-link mfp-iframe btn btn-primary-magnet" href="https://vimeo.com/207233999" ><i class="fa fa-play-circle">
                                Play Video</a></i>
                            </div>
                </div><div class="helper"></div>
            </div>
        </div>
        <!-- ========== /Page Header ========== -->


         <!-- ========== Page Content ========== -->
        <div class="bg-white">
            <div class="container">
                <div class="featurette">
                    <h2 class="featurette-heading">Grace Initiative </h2>
                    <i><p class="featurette-lead">Our goal as a church as we adventure in this Initiative <br> is to follow learn to do good.. and seek justice ( Isaiah 1:17)</p></i>
                    <div class="row">
                        <div class="col-md-7">
                        <p class="text-justify">The Grace Initiative is still in its early conception. Its was birth out of Isaiah 61 where we are called to care for people who feel oppressed or captive with different issues of life. Our hope is that we focus in  to listen and empower the people of God to do the work of ministry who see our city and there hearts break. so that they may worship me in the wilderness.Exodus 7:16</p>
                            <p class="text-justify">When we look at our world today through the lens of the gospel, we see a God whose heart is broken for the social, physical , emotional and cognitive needs in our city and around the world. We have a God who cares about justice and he wants us to do the same. </p>
                            <p class="text-justify">“We hope to see this accomplished by exposing individuals and faith communities to issues of poverty, injustice, and local humanitarian needs by creating new ministry or create volunteer projects for individuals and faith communities to experience what it is like to serve these different issues and populations; and help facilitate relationships between faith communities and local non-profit partners that will allow deeper and continual engagement in these areas of need. </p>
                                   <p><a href="https://www.google.com/maps/place/Anibic/@40.7477679,-73.7593287,17z/data=!3m1!4b1!4m5!3m4!1s0x89c261f18686757d:0x85197cef06cfa2d9!8m2!3d40.7477639!4d-73.75714" target= "_blank" class="btn btn-inverse ">Connect with us</a>
                        </div>
                        <div class="col-md-5">
                            <img data-sr='enter top move 100px' class="featurette-image img-responsive center-block" src="assets/grace_final/park.png" alt="Generic placeholder image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
                           <!-- ========== Partners ========== -->
         <div class="section bg-dark shadow">
            <div class="container">
                <h3 class="block-title " data-sr='spin 180deg over 1s'>OUR PARTNERS</h3>
               <h3 class="text-center">Listed below are the partnerships we have created to learn to do good and seek justice in the neighborhoods of Queens and LongIsland. </h3>
                <div class="row">
                    <div class="col-xs-2"><a href="" class="box-logo transparent"><img data-sr='roll -90deg wait 0.1s' src="assets/grace_final/do_for_one1.png" alt="" /><i class="helper"></i></a></div>
                    <div class="col-xs-2"><a href="" class="box-logo transparent"><img data-sr='roll -90deg wait 0.2s' src="images/logo-2.png" alt="" /><i class="helper"></i></a></div>
                    <div class="col-xs-2"><a href="" class="box-logo transparent"><img data-sr='roll -90deg wait 0.3s' src="images/logo-3.png" alt="" /><i class="helper"></i></a></div>
                    <div class="col-xs-2"><a href="" class="box-logo transparent"><img data-sr='roll -90deg wait 0.4s' src="images/logo-4.png" alt="" /><i class="helper"></i></a></div>
                    <div class="col-xs-2"><a href="" class="box-logo transparent"><img data-sr='roll -90deg wait 0.5s' src="images/logo-5.png" alt="" /><i class="helper"></i></a></div>
                    <div class="col-xs-2"><a href="" class="box-logo transparent"><img data-sr='roll -90deg wait 0.6s' src="images/logo-6.png" alt="" /><i class="helper"></i></a></div>
                </div>
            </div>
        </div>
        <!-- ========== /Partners ========== -->
        
    </div>
    <!-- Page sections end. -->


<%= render 'shared/footer' %>
 <%= render 'shared/javascript' %>